# Ignore log files
activity_log.txt
*.log
.venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore sensitive info or local settings
.env
.vscode/

# Ignore spec
__pycache__/
*.spec

# Ignore build folder process
build/
dist/

*.egg-info/